@page "/"

@using BlazorApp.Data 
@inject IFoodService foodService
@inject PaymentService  paymentService

@inject SingletonService singleton
@inject TransientService transient
@inject ScopeService scoped

<div>
    @foreach (var food in foodService.GetFoods())
    {
        <div>@food.Name</div>
        <div>@food.Price</div>
    }
</div>

<div>
    <h1>Singleton</h1>
    Guid: @singleton.ID
    <h1>Transient</h1>
    Guid: @transient.ID
    <h1>Scoped</h1>
    Guid: @scoped.ID
</div>

<Counter></Counter>

@code{      
    protected override void OnInitialized()
    {

    }
}
